doctype 5
html
	head
		title= title
		link(rel="stylesheet", href="/stylesheets/dhtmlx.css")
		link(rel="stylesheet", href="/stylesheets/app.css")

		script(src="http://code.jquery.com/jquery-2.0.3.min.js")
		script(src="/javascripts/vendors/dhtmlx.js")
		script(src="/javascripts/vendors/core.js")

		script(src="/javascripts/sandbox_extension.js")
		script(src="/javascripts/app.js")

		script(src="/javascripts/modules/users/main.js")
		script(src="/javascripts/modules/users/models/user.js")
		script(src="/javascripts/modules/users/models/users.js")
		script(src="/javascripts/modules/users/user_list.js")
		script(src="/javascripts/modules/users/toolbar.js")
		script(src="/javascripts/modules/users/popup.js")
		script(src="/javascripts/modules/users/config/init_form.js")

		script(src="/javascripts/modules/locations/main.js")
		script(src="/javascripts/modules/locations/models/location.js")
		script(src="/javascripts/modules/locations/models/locations.js")
		script(src="/javascripts/modules/locations/location_list.js")
		script(src="/javascripts/modules/locations/toolbar.js")

	body
