doctype 5
html
	head
		title= title
		link(rel="stylesheet", href="/stylesheets/dhtmlx.css")
		link(rel="stylesheet", href="/stylesheets/app.css")

		script(src="http://code.jquery.com/jquery-2.0.3.min.js")
		script(src="/javascripts/vendors/dhtmlx.js")
		script(src="/javascripts/vendors/core.js")

		script(src="/javascripts/sandbox_extension.js")
		script(src="/javascripts/app.js")

		script(src="/javascripts/modules/toolbar/main.js")
		script(src="/javascripts/modules/tree/main.js")

	body
